BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnSingleLine: false
AllowShortLoopsOnSingleLine: false
AllowShortFunctionOnASingleLine: Inline
ColumnLimit: 120
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SortIncludes: false